<div class="square-wrapper">
  <div class="dashboard-profile">
    <div class="user-name">
      <h3><%= current_user.first_name %> <%= current_user.last_name %></h3>
      <h6>@<%= current_user.username %></h6>
    </div>
    <div class="sticky-image">
      <div class="user-image">
        <%= cl_image_tag current_user.photo.key, width: 100, height: 100, crop: :thumb, gravity: :face %>
      </div>
    </div>
  </div>
</div>

<div class="dashboard-main">
  <div class="my-events">
    <h4>My events</h4>
    <div class="scrolling-wrapper">
      <% @my_events.each do |event| %>
          <div class="user-floating-card">
            <div id="delete">
              <%= link_to event_path(event), data: { turbo_method: :delete, turbo_confirm: 'Delete event?' } do %>
                <i class="fa-solid fa-xmark"></i>
              <% end %>
            </div>
            <%= link_to event_path(event) do %>
              <div><p class="event-title"><%= event.name %></p></div>
              <div class="small-grey-text">
                <i class="fa-solid fa-clock"></i>
                <%= event.date %>
              </div>
            <div class="small-grey-text">
              <i class="fa-solid fa-location-dot"></i>
              <%= event.address %>
            </div>
            <% color = (event.date - Date.today).to_i < 10 ? "#FD1015" : "#2568ce" %>
            <div id="counter" style="color: <%= color%>">
              <i class="fa-solid fa-bell"></i>
              <% if (event.date - Date.today).to_i < 30 %>
                <%= (event.date - Date.today).to_i %> days left
              <% else %>
                <%= (event.date - Date.today).to_i/30 %> months left
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="join-events">
    <h4>Upcoming events</h4>
    <div class="scrolling-wrapper">
      <% @joined_events.each do |event| %>
        <%= link_to event_path(event) do %>
          <div class="user-floating-card">
            <p class="event-title"><%= event.name %></p>
            <div class="small-grey-text">
              <i class="fa-solid fa-clock"></i>
              <%= event.date %>
            </div>
            <div class="small-grey-text">
              <i class="fa-solid fa-location-dot"></i>
              <%= event.address %>
            </div>
            <% color = (event.date - Date.today).to_i < 10 ? "#FD1015" : "#2568ce" %>
            <div id="counter" style="color: <%= color%>">
              <i class="fa-solid fa-bell"></i>
              <% if (event.date - Date.today).to_i < 30 %>
                <%= (event.date - Date.today).to_i %> days left
              <% else %>
                <%= (event.date - Date.today).to_i/30 %> months left
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<%= link_to "Chats", chatrooms_path %>
