<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path, class: "navbar-brand" do %>
      <div class="d-flex align-content-center" style="gap: 4%;">
        <%= image_tag (asset_path"migramind_logo.png") %>
        <h3 class="navbar-cursive m-auto 0 p-0"><%= MigraMind %></h3>
      </div>
    <% end %>

      <ul class="navbar-nav">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        <% end %>
      </ul>
  </div>
</div>
