<div id="card1" class="card event-card">
  <%= link_to event_path(event) do %>
    <% if event.photo.attached? %>
      <%= cl_image_tag event.photo.key, height: 300, width: 400, class: "card-img-top", id: "reponsive"%>
    <% end %>
    <div class="card-body">
      <p class="card-title event-title"><%= event.name %></p>
      <div class="event-date">
        <i class="fa-solid fa-clock"></i>
        <%= event.date %>
      </div>
      <div>
        <i class="fa-solid fa-location-dot"></i>
        <%= event.address %>
      </div>
    </div>
  <% end %>
</div>
