<div data-new-post-target="newEvent">
  <div class="d-flex justify-content-center mt-4" >
    <h3>Add Event</h3>
    <div class="d-flex justify-content-center">
      <%= simple_form_for @event, data: { controller: "datepicker", dates: @event } do |form| %>
              <%= form.input :name, label: "Name" %>
              <%= form.input :address, label: "Address" %>
              <%= form.input :description, label: "Description" %>
              <%= form.input :date,
                            as: :string,
                            label: "Date",
                            input_html: { data: { datepicker_target: "date" } } %>
              <%= form.input :photo, as: :file, label: "Photo" %>
        <div class="d-flex justify-content-center">
          <%= form.button :submit,  class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
