  <div class="newEvent" >
      <h5 class="h5color">Edit event</h5>
      <%= simple_form_for @event, data: { controller: "datepicker", dates: @event } do |form| %>
              <%= form.input :name, label: false, placeholder: "Event's name", input_html: {class: "simple-form"} %>
              <%= form.input :date,
                            as: :string,
                            label: false,
                            placeholder: "Select a date",
                            input_html: { data: { datepicker_target: "date" }, class: "simple-form" } %>
              <%= form.input :address, label: false, placeholder: "Address", input_html: {class: "d-none", data: {address_autocomplete_target: "address"}},
                         wrapper_html: {class: "simple-form", data: {controller: "address-autocomplete", address_autocomplete_api_key_value:
                         ENV["MAPBOX_API_KEY"]}} %>
              <%= form.input :description, label: false, placeholder: "Tell more about the event", input_html: {class: "simple-form"} %>
              <%= form.input :photo, as: :file, label: false, input_html: {class: "simple-form"} %>
              <%= button_tag(class: "button") do %>
              <a class="submit"><i class="fa-solid fa-paper-plane"></i></a>
              <% end %>
      <% end %>
  </div>
</div>
