<div class="comment" data-show-comments-target="card">
  <div class="flex-with-gap">
    <div>
      <div class="user-border">
        <%= cl_image_tag comment.user.photo.key, width: 40, height: 40, crop: :thumb, gravity: :face %>
      </div>
    </div>
    <div>
      <p class="small-grey-text"><%= comment.user.username %></p>
      <p><%= comment.content %></p>
    </div>
  </div>
  <div>
    <button class="btn btn-light" id="comment-like-button" >
      <a href="#" id="comment-like-link" data-controller="like-button" data-like-button-post-id="<%= post.id %>" data-like-button-comment-id="<%= comment.id %>" data-like-button-likable-type="comment" data-action="click->like-button#like">
        <div class="comment-likes-container blacky" data-like-button-target="container">
          <i class="fa-solid fa-heart"></i>
          <span data-like-button-target="sum" id="comment-sum"><%= comment.likes.count %></span>
        </div>
      </a>
    </button>
  </div>
</div>
