 <div class="flex-with-gap">
  <div class="user-border">
    <%= cl_image_tag post.user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face %>
  </div>
  <div class="d-flex flex-column">
  <div class="d-flex" style="gap: 10%">
    <p class="username">
      <%= link_to post.user.username, dashboard_path(post.user) %>
    </p>
    <div class="user-flag">
    <div>
    <% if !post.user.country.nil? %>
      <%= flag_icon(post.user.country) %>
    <% end %>
    </div>
    </div>
  </div>
    <% time_in_hours = (Time.now - post.created_at)/3600 %>
    <% if time_in_hours < 1 %>
      <% time = "#{((Time.now - post.created_at)/60).round} min ago" %>
    <% else %>
      <% time = "#{time_in_hours.round} hours ago" %>
    <% end %>
    <p class="small-grey-text"><%= time %></p>
  </div>
</div>
<p class="border-bottom category"><i class="fa-solid fa-tag"></i> <%= post.category %></p>
<div class="card-text">
  <%= post.content %>
</div>
<div class="interaction-icons">
  <a href="#" id="post-like-link" data-controller="like-button" data-like-button-post-id="<%= post.id %>" data-like-button-likable-type="post" data-action="click->like-button#like">
    <button class="btn btn-light">
    <% color = post.liked_by_current_user?(current_user) ? "greeny" : "blacky" %>
    <div data-like-button-target="container" class="<%= color %>">
      <span data-like-button-target="sum"><%= post.likes.count %></span>
      <i class="fa-solid fa-heart"></i>
    </div>
    </button>
  </a>
  <button class="btn btn-light" data-action="click->show-comments#show">
    <div class="blacky">
      <span data-show-comments-target="sum"><%= post.comments.count %></span>
      <i class="fa-solid fa-comments"></i>
    </div>
  </button>
</div>
