<div>
  <div class="flex-with-gap">
    <div class="user-border">
      <%= cl_image_tag post.user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face %>
    </div>
    <div class="d-flex flex-column">
      <p class="username"><%= post.user.username %></p>
      <% time_in_hours = (Time.now - post.created_at)/3600 %>
      <% if time_in_hours < 1 %>
        <% time = "#{((Time.now - post.created_at)/60).round} min ago" %>
      <% else %>
        <% time = "#{time_in_hours.round} hours ago" %>
      <% end %>
      <p class="small-grey-text"><%= time %></p>
    </div>
  </div>
  <p class="border-bottom category"><i class="fa-solid fa-tag"></i> <%= post.category %></p>
  <div class="card-text">
    <%= post.content %>
  </div>
  <div class="interaction-icons">
    <button class="btn btn-light"><i class="fa-solid fa-heart"></i></button>
    <button class="btn btn-light" data-action="click->show-comments#show">
      <% if post.comments.count > 0 %>
        <%= post.comments.count %>
      <% end %>
      <i class="fa-solid fa-comments"></i>
    </button>
  </div>
</div>
