
  <div class="d-flex justify-content-center">
    <div class="col-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control post-search-input",
              placeholder: "Type a keyword"
          %>
        <%= button_tag(type: "submit", class: "btn btn-success post-search-button") do %>
          <i class="fa-solid fa-magnifying-glass"></i>
        <% end %>
      <% end %>
    </div>
  </div>

<% @posts.each do |post| %>
  <div class="card col-11 col-md-6" id="post" data-controller="show-comments">
    <div class="card-body">
      <%= render 'post', post: post %>

      <div class="comments d-none" data-show-comments-target="comments">

        <%= render 'commentform', post: post, comment: @comment %>

        <% post.comments.each do |comment| %>
          <%= render 'comment', comment: comment, post: post %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
