<div data-controller="blur" data-blur-target="posts" class="" data-action="click->blur#blur">
  <div class="row justify-content-center">
    <div class="col-8 my-3">
      <%= form_with url: root_path, method: :get, class: "d-flex" do %>
        <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Type a keyword"
          %>
        <%= submit_tag "Search", name: "", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

<% @posts.each do |post| %>
  <div class="card col-11 col-md-6" id="post">
    <div class="card-body">
      <div class="d-flex" style="gap: 4%">
        <div class="user-border">
         <%= cl_image_tag post.user.photo.key, width: 50, height: 50, crop: :thumb, gravity: :face %>
        </div>
        <div class="d-flex flex-column">
          <p class="username"><%= post.user.username %></p>
          <% time_in_hours = (Time.now - post.created_at)/3600 %>
          <% if time_in_hours < 1 %>
            <% time = "#{((Time.now - post.created_at)/60).round} min ago" %>
          <% else %>
            <% time = "#{time_in_hours.round} hours ago" %>
          <% end %>
          <p class="time"><%= time %></p>
        </div>
      </div>
      <p class="border-bottom"><i class="fa-solid fa-tag"></i> <%= post.category %></p>
      <div class="card-text">
        <%= post.content %>
      </div>
      <div class="interaction-icons">
        <button class="btn btn-light"><i class="fa-solid fa-heart"></i></button>
        <button class="btn btn-light"><i class="fa-solid fa-comments"></i></button>
      </div>
    </div>
  </div>
<% end %>
</div>
