<%= simple_form_for @post do |f| %>
  <div>
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>
  <div>
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div>
    <%= f.submit 'Done' %>
  </div>
<% end %>

